.root {
  padding: 58px;
  .sign-in-header {
    .sign-in-title {
      font-family: "Inter";
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
    }
    .sign-in-subtitle {
      font-family: "Inter";
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .sign-in-content {
    margin-top: 91px;
    .form-item {
      margin-top: 28px;
      input {
        width: 100%;
        height: 59px;
        background: #ffffff;
        border: none;
        outline: none;
        box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        width: 100%;
        box-sizing: border-box;
        padding: 0 25px;
        font-size: 14px;
      }
      p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-align: right;
        span {
          color: #b6b6b6;
          &:hover {
            color: #3a3a3a;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      button {
        width: 100%;
        height: 59px;
        background: #3a3a3a;
        box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
      }
    }
    .sign-up {
      margin-top: 74px;
      text-align: center;
      a {
        font-weight: bold;
        color: #3a3a3a;
      }
    }
  }
}
